body {
  background: #f5f5f5;
}

.error_loading {
  padding: 60px;
}

.content {
  max-width: 1300px;
}

.content__flex-item {
  -ms-flex: 0 1 auto !important;
      flex: 0 1 auto !important;
}

.content__information-pane__container {
  padding-top: 40px;
  padding-right: 8px;
} 

.information_pane__paper {
  padding: 20px;
  position: relative;
}

.information_pane__close_button {
  position: absolute;
  top: -4px;
  right: 12px;
}

.icon-container {
  text-align: center;
}

.connections_list {
  max-height: 400px;
  overflow-y: auto;
}

.information_pane {
  min-width: 300px;
  max-width: 90vw;
  margin: 10px;
}

.information_pane__title{
  float: left; 
}

.information_pane__close{
  float: right;
  top: -10px; 
}